* {
  margin-left: 10px;
  box-sizing: border-box;
  width: 1900;
}

header {
  display: inline-flex;
  margin: 10;
  margin-left: 20px;
  justify-content: space-around;
  padding: 20px;
  background: #FEF7F4;


  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.top,
.container {
  background: #eb662b0d;
}
nav a {
  margin: 20px;
  padding: 20px;
  text-decoration: none;
  font-size: 1em;
  color: black;
  margin-left: 10px;
}

.nav_button {
  width: 70px;
  height: 35px;
  background-color: orange;
  color: white;
  border: 5px solid orange;
  border-radius: 10px;
  font-size: 1em;
  margin-left: 30px;
}

.container {
  display: flex;
  margin-bottom: -30px;
}
.forget {
  color: #eb662b;
}

h3 {
  font-size: 3em;
  font-weight: 900;
  color: #05073c;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.travel_text {
  margin-left: 30px;
  margin-top: 160px;
}

.search_form {
  width: 100%;
  height: 20%;
  display: flex;
}

.rectangle {
  width: 39%;
  height: 60px;
  background-color: #fff;
  margin-left: 25px;
  border: 2px solid whitesmoke;
  border-radius: 50px;
  margin-bottom: 200px;
  display: flex;
  gap: 22px;
  padding: auto;
  align-items: center;
}

.circle {
  height: 40px;
  width: 40px;
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 50%;
  border-color: gray;
  margin-left: 10px;
}

.circle_p {
  height: 40px;
  width: 40px;
  background-color: #eb662b;
  border: 1px solid;
  border-radius: 40px;
  border-color: #eb662b;
  margin-left: 10px;
}

.search_form p {
  font-size: 0.7em;
  font-weight: 400;
}
.try {
  width: 50px;
}
.bolding {
  font-size: 1.5em;
  font-weight: 800;
  margin-left: auto;
}
.good {
  margin-left: 40px;
}
.feb {
  font-weight: 550;
  font-size: 1em;
}

.tourz {
  width: auto;
  height: 20%;
  display: flex;
  margin-left: 10px;
}

.tourpp {
  font-weight: 700;
}

.tourz_text {
  font-weight: 400;
  font-size: 0.75em;
  margin: 2px;
}
.seeall {
  font-weight: 400;
}

.container_img {
  position: relative;
  display: inline-block;
}

.img_overlay {
  position: absolute;
  text-align: center;
  top: 28%;
  left: 30%;
  padding: 10px 20px;
  color: #fff;
  font-weight: 500;
}

.popular {
  width: 1390px;
  height: 400px;
  background: #eb662b0d;
  margin-left: 30px;
}

.pop {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.5em;
}
.seetoo {
  font-weight: 250;
  font-size: 0.7em;
}

.popular_tour {
  display: flex;
  width: auto;
  height: 20%;
  margin-left: 10px;
  gap: 0;
}

.cultural_tour {
  background: #ffffff;
  width: 150px;
  height: 170.5px;
  top: 95px;
  left: 15px;
  gap: 0px;
  border-radius: 12px 0px 0px 0px;
  opacity: 0px;
}
.tour_img {
  width: 50px;
  height: 50px;
  top: 30px;
  left: 40px;
  padding: 19.5px 20px 19.5px 20px;
  gap: 0px;
  border-radius: 50px 0px 0px 0px;
  opacity: 0px;
}

.pop_text {
  font-weight: 520;
}

.pop_sub_text {
  font-weight: 198;
  margin-left: 5px;
  font-size: 0.7em;
}

.features {
  width: auto;
  height: auto;
  top: auto;
  left: auto;
  gap: 1px;
  opacity: 0px;
}

.feature_button {
  padding: 15.93px 20.8px 15.94px 21px;
  gap: 0px;
  border-radius: 19%;
  border: 3px solid rgba(128, 128, 128, 0.055);
  background-color: rgba(245, 245, 245, 0.432);
}

.main_tour {
  display: flex;
}

.ball {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: white;
  position: absolute;
  margin-top: -140px;
  margin-left: 240px;
}

.ball1 {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: white;
  position: absolute;
  margin-top: -140px;
  margin-left: 240px;
}

.ball2 {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: white;
  position: absolute;
  margin-top: -140px;
  margin-left: 240px;
}

.ball3 {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: white;
  position: absolute;
  margin-top: -140px;
  margin-left: 240px;
}

.ball4 {
  width: 28px;
  height: 27px;
  border: 1px solid #e7e6e6;
  border-radius: 50px;
  position: absolute;
  margin-top: -270px;
  margin-left: 330px;
  background-color: #fff;
}

.ball0 {
  width: 28px;
  height: 27px;
  border: 1px solid #e7e6e6;
  border-radius: 50px;
  position: absolute;
  margin-top: 155px;
  margin-left: -30px;
  background-color: #fff;
}

.paris {
  color: gray;
  margin-left: 20px;
}

.centipede {
  margin-top: -9px;
  margin-bottom: -10px;
  margin-left: 10px;
  font-weight: bold;
  color: #282a5e;
  font-size: 1em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.desert {
  margin-left: 10px;
  margin-top: 14px;
  color: #282a5e;
  font-weight: bold;
  font-size: 1em;
  text-align: start;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.number {
  margin-left: -15px;
  color: #05073c;
  font-size: small;
  text-align: center;
}

.centipede_img {
  border: 2px solid whitesmoke;
}

.dollar,
.dollara,
.dollarb {
  font-size: 14px;
  margin-left: 25px;
  font-weight: 600;
  border-top: 3px solid rgba(245, 245, 245, 0.479);
}

.dollarc {
  font-size: 14px;
  margin-left: 25px;
  font-weight: 600;
  border-top: 3px solid rgba(245, 245, 245, 0.479);
}

.dollar1 {
  font-size: 1.3em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container_box {
  background-color: #eb662b;
  width: 1200px;
  height: 450px;
  padding-top: 20px;
  padding-left: 150px;
}

.wemake_box {
}

.wemake_text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bolder;
  color: white;
}

.wemakesub {
  color: #fff;
}

.wemake_button {
  padding: 15px;
  background: #e7e6e6;
  color: #eb662b;
  border-radius: 12px;
  border-style: hidden;
}
.we_box {
  display: flex;
}

.first_box {
  width: 200px;
  height: 140px;
  margin-left: 600px;
  margin-top: -290px;
  border-radius: 12px 0px 0px 0px;
  background: #fff;
}

.tourz_types {
  width: 1000;
  height: 540;
  display: flex;
  justify-content: left;
  background: #eb662b0d;
}

.tourz_guide {
  margin-left: 0px;
  background-color: whitesmoke;
}
.city {
  color: #05073c;
  text-align: center;
}
.tourz_img {
  background: #fef7f4;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  top: 15px;
  padding: 19.5px 20px 19.5px 20px;
  gap: 0px;
}

.first_box {
  background: #ffffff;
  width: 150px;
  height: 170.5px;
  top: 95px;
  left: 15px;
  gap: 0px;
  border-radius: 12px 0px 0px 0px;
  opacity: 0px;
}
.sec_box {
  background: #ffffff;
  width: 150px;
  height: 170.5px;
  top: 95px;
  left: 15px;
  gap: 0px;
  border-radius: 12px 0px 0px 0px;
  opacity: 0px;
  margin-top: -100px;
  margin-left: -150px;
}

.last_box {
  background: #ffffff;
  width: 150px;
  height: 170.5px;
  top: 95px;
  left: 15px;
  gap: 0px;
  border-radius: 12px 0px 0px 0px;
  opacity: 0px;
  margin-top: -200px;
}

.we_box {
  display: flex;
  height: 100px;
}

.wemake_img {
  margin-left: 40px;
  top: 10px;
}

.numb {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2em;
  color: #eb662b;
  text-align: center;
}

.destination {
  color: black;
  font-size: 0.4em;
  text-align: start;
  margin-left: 0px;
  margin-top: 10px;
}

.container_customerreview {
  background: #fbfbfb;
}
.review_head {
  font-size: 1.3em;
  font-weight: bolder;
  color: #05073c;

  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-left: 600px;
}

.blockquote_img {
  margin-left: 650px;
}

blockquote {
  margin-left: 400px;
}

.Ali {
  margin-left: 650px;
}
.product_manager {
  margin-left: -45px;
}

.reviewers {
  margin-left: 450px;
  margin-bottom: 0px;
}

.travel_articles {
  background-color: #f5f5f5;
}
.all_safaris {
  display: flex;
}

.tour_date {
  color: #424594;
  font-size: 12px;
  font-weight: 550;
}

.safaris {
  color: #05073c;
  font-size: 14px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.travelarticle_head {
  color: #05073c;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 800;
  font-size: 1.5em;
  padding-top: 140px;
  margin-top: 0;
}

.safariimage_overlay {
  width: 65px;
  height: 36.25px;
  padding: 0px;
  padding-left: 3px;
  padding-top: 10.5px;
  gap: 0px;
  border-radius: 40px;
  background-color: #ffffff;
  text-align: center;
  font-size: 13px;
  margin-top: -280px;
  margin-left: 22px;
  position: absolute;
  border-radius: 12px;
}

.safariimage_overlay2 {
  width: 65px;
  height: 36.25px;
  padding: 0px;
  padding-left: 3px;
  padding-top: 10.5px;
  gap: 0px;
  border-radius: 40px;
  background-color: #ffffff;
  text-align: center;
  font-size: 13px;
  margin-top: -265px;
  margin-left: 22px;
  position: absolute;
}

.safariimage_overlay3 {
  width: 65px;
  height: 36.25px;
  padding: 0px;
  padding-left: 3px;
  padding-top: 10.5px;
  gap: 0px;
  border-radius: 40px;
  background-color: #ffffff;
  text-align: center;
  font-size: 13px;
  margin-top: -265px;
  margin-left: 22px;
  position: absolute;
}
.special_offers {
  background-color: #ffffff;
}
.special {
  color: #05073c;
  font-family:sans-serif; "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";
  font-size: 24px;
  font-weight: 900;
}

.discover{
  color: #05073c;
  font-family:sans-serif; "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";
  font-size: 20px;
  font-weight: 900;
  margin-left: 900px;
}

.world_best {
  text-align: center;
  color:#05073C;

}

.product_logo{
  margin-left: 400px;
}

.subscribe{
  background-image: url(asset/image/subscribe_img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-attachment:scroll;
  height: 100vh;
  margin-bottom: -120px;
  padding-top: 0px;
}

.subscribetext{
  font-size: 27.5px;
  font-family: sans-serif;
  font-weight: 800;
  margin-top: 400px;
  margin-left: 150px;
  position: absolute;
  color:  #05073C;
  width: 483.58px;
height: 112px;

gap: 0px;
}

.footer{
  background: #05073C;
  height: 1000px;
  margin-top: 0;

}

.expert {
  display: flex;
  justify-content: space-around;
  color: #fff;
  padding-top: 100px;
}

.follow_toptext {
  color: #ffffff;
  margin-left: 180px;
  margin-top: 20px;
}

hr{
  border: 0.1px solid  rgb(151, 150, 150)
}

.footer-section {
  display: flex;
  padding-left: 50px;
}
.footer-content{
  color: #fff;
  display: flex;
  flex-direction:column;
  width:500px;
  padding-top: 100px;
}

#input{
  height:60px;
  width: 300px;
  border-radius: 20px;
}

.fade{
  color: gray;}

.send{
  color: black;
}

.copyright{
  color: white;
  display: flex;
  justify-content:space-between;
  margin: 0px;
  padding: 0;
}

.logo_images{
margin-right: 40px;
padding: opx;;
}

.footer_logo{
  padding: 0px;
  margin: -2px;
}